# project
.docusaurus
build
node_modules

# general
.DS_Store
Thumbs.db
ehthumbs.db

#Ignore vscode AI rules
.github\copilot-instructions.md


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md
